#background-image {
    background: url(Images/background.jpg);
    background-size: auto;
    opacity: .45;
}

.nav-ufo {
    position: -webkit-sticky;
    bottom: 5px;
    left: 150px;
    width: 35px;
}

.h1 {
    font-weight: 900;
    margin-top:90%; 
    left:10px;
    font-size: 50px;
    color:#fff;
}

#table-area {
  overflow-y: scroll;
  overflow-x: auto;
  height: 500px;
}
#table-area tr:hover {
  color: mediumspringgreen;
}
.navbar {
  height: 30px
}

.jumbotron h1 {
  top:0;
  z-index:-100;
  display:flex;
  justify-content:center;
  align-items:center;
}

.footer {
  position:fixed;
  bottom: 0;
  width: 50px;
  height: 50%;
  line-height: 60px;
  margin: 0;
  width: 100%;
  height:60px;
  background-color: rgb(26, 32, 39);
  text-align: center;
}