#background-image {
    background: url(Images/background.jpg);
    background-size: auto;
    opacity: .45;
}

.nav-ufo {
    position: -webkit-sticky;
    bottom: 5px;
    left: 150px;
    width: 35px;
  }
