#background-image {
    background: url(Images/background.jpg);
    background-size: auto;
    opacity: .45;
}

.nav-ufo {
    position: -webkit-sticky;
    bottom: 5px;
    left: 150px;
    width: 35px;
}

.h1 {
    font-weight: 900;
    margin-top:90%; 
    left:10px;
    font-size: 50px;
    color:#fff;
}

#table-area {
  overflow-y: scroll;
  overflow-x: auto;
  height: 500px;
}